In [3]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [5]:
pwd

'C:\\Users\\HP\\Downloads\\Python Office'

In [7]:
df = pd.read_csv("apple_products.csv")

### Importing Data

In [8]:
df

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,0,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
...,...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,24,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,14,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,14,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,14,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,14,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB

### Performing EDA

In [9]:
df.describe()

,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Star Rating
count,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000
mean,80073.887097,88058.064516,9.951613,22420.403226,1861.677419,4.575806
std,34310.446132,34728.825597,7.608079,33768.589550,2855.883830,0.059190
min,29999.000000,39900.000000,0.000000,542.000000,42.000000,4.500000
25%,49900.000000,54900.000000,6.000000,740.000000,64.000000,4.500000
50%,75900.000000,79900.000000,10.000000,2101.000000,180.000000,4.600000
75%,117100.000000,120950.000000,14.000000,43470.000000,3331.000000,4.600000
max,140900.000000,149900.000000,29.000000,95909.000000,8161.000000,4.700000

In [10]:
df.isnull().sum()

Product Name           0
Product URL            0
Brand                  0
Sale Price             0
Mrp                    0
Discount Percentage    0
Number Of Ratings      0
Number Of Reviews      0
Upc                    0
Star Rating            0
Ram                    0
dtype: int64

In [13]:
df.dropna()

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,0,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
...,...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,24,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,14,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,14,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,14,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,14,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB

In [14]:
df

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,0,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
...,...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,24,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,14,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,14,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,14,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,14,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB

In [31]:
df['Product Name'].value_counts().head(10)

Product Name
APPLE iPhone 8 Plus (Gold, 64 GB)             1
APPLE iPhone 12 Pro (Pacific Blue, 128 GB)    1
APPLE iPhone 12 Mini (Black, 128 GB)          1
APPLE iPhone 12 Mini (Blue, 128 GB)           1
APPLE iPhone 12 (Black, 128 GB)               1
APPLE iPhone 12 (Blue, 128 GB)                1
APPLE iPhone 12 Pro Max (Silver, 128 GB)      1
APPLE iPhone 12 Mini (Red, 64 GB)             1
APPLE iPhone 12 Pro Max (Gold, 128 GB)        1
APPLE iPhone 12 (Green, 128 GB)               1
Name: count, dtype: int64

In [15]:
df["Product Name"].value_counts()

Product Name
APPLE iPhone 8 Plus (Gold, 64 GB)                 1
APPLE iPhone 12 Pro (Pacific Blue, 128 GB)        1
APPLE iPhone 12 Mini (Black, 128 GB)              1
APPLE iPhone 12 Mini (Blue, 128 GB)               1
APPLE iPhone 12 (Black, 128 GB)                   1
                                                 ..
APPLE iPhone 12 Pro Max (Pacific Blue, 256 GB)    1
APPLE iPhone 12 Mini (White, 128 GB)              1
APPLE iPhone 12 Pro (Graphite, 256 GB)            1
APPLE iPhone 12 Mini (White, 64 GB)               1
APPLE iPhone 11 (Red, 64 GB)                      1
Name: count, Length: 62, dtype: int64

### Iphone With the Biggest RAM

In [101]:
#TOP 5 IPHONES WITH THE BIGGEST RAM
df[["Ram","Product Name","Brand"]].sort_values(ascending=False,by='Ram',ignore_index=True)[:20]

     Ram                                    Product Name  Brand
0   6 GB      APPLE iPhone 12 Pro Max (Graphite, 256 GB)  Apple
1   6 GB                   APPLE iPhone 12 (Red, 128 GB)  Apple
2   6 GB      APPLE iPhone 12 Pro Max (Graphite, 128 GB)  Apple
3   6 GB          APPLE iPhone 12 Pro (Graphite, 256 GB)  Apple
4   6 GB  APPLE iPhone 12 Pro Max (Pacific Blue, 256 GB)  Apple
5   6 GB                 APPLE iPhone 12 (Black, 128 GB)  Apple
6   6 GB                  APPLE iPhone 12 (Blue, 128 GB)  Apple
7   6 GB        APPLE iPhone 12 Pro Max (Silver, 128 GB)  Apple
8   6 GB               APPLE iPhone 12 Mini (Red, 64 GB)  Apple
9   6 GB          APPLE iPhone 12 Pro Max (Gold, 128 GB)  Apple
10  6 GB                 APPLE iPhone 12 (Green, 128 GB)  Apple
11  6 GB                  APPLE iPhone 12 (White, 64 GB)  Apple
12  6 GB          APPLE iPhone 12 Pro (Graphite, 128 GB)  Apple
13  6 GB                  APPLE iPhone 12 (Black, 64 GB)  Apple
14  6 GB      APPLE iPhone 12 Pro (Pacific Blue, 128 GB)  Apple
15  6 GB  APPLE iPhone 12 Pro Max (Pacific Blue, 128 GB)  Apple
16  6 GB        APPLE iPhone 12 Pro Max (Silver, 256 GB)  Apple
17  6 GB          APPLE iPhone 12 Pro Max (Gold, 256 GB)  Apple
18  6 GB                 APPLE iPhone 12 (White, 128 GB)  Apple
19  4 GB             APPLE iPhone 12 Mini (Black, 64 GB)  Apple

### Iphone With Lowest RAM

In [103]:
#LAST 5 IPHONES WITH THE LEAST RAM
df[["Ram","Product Name"]].sort_values(ascending=True,by="Ram",ignore_index=True)[:5]

    Ram                              Product Name
0  2 GB         APPLE iPhone 8 Plus (Gold, 64 GB)
1  2 GB  APPLE iPhone 8 Plus (Space Grey, 256 GB)
2  2 GB      APPLE iPhone 8 Plus (Silver, 256 GB)
3  2 GB           APPLE iPhone 8 (Silver, 256 GB)
4  2 GB             APPLE iPhone 8 (Gold, 256 GB)

### Numbers of Rating

In [107]:
#TOP 5 HIGHEST RATING
df[["Number Of Ratings","Product Name","Brand"]].sort_values(ascending=False,by="Number Of Ratings",ignore_index=True)[:5]

   Number Of Ratings                                       Product Name  Brand
0              95909  Apple iPhone SE (White, 256 GB) (Includes EarP...  Apple
1              95909                    APPLE iPhone SE (Black, 128 GB)  Apple
2              95909                      APPLE iPhone SE (Red, 128 GB)  Apple
3              95909                     APPLE iPhone SE (Black, 64 GB)  Apple
4              95807                     APPLE iPhone SE (White, 64 GB)  Apple

### Least Numbers of Rating

In [73]:
df[["Number Of Ratings","Product Name","Brand"]].sort_values(ascending=True,by="Number Of Ratings",ignore_index=True)[:5]

   Number Of Ratings                                Product Name  Brand
0                542        APPLE iPhone 12 Pro (Silver, 512 GB)  Apple
1                545      APPLE iPhone 12 Pro (Graphite, 128 GB)  Apple
2                545      APPLE iPhone 12 Pro (Graphite, 256 GB)  Apple
3                545  APPLE iPhone 12 Pro (Pacific Blue, 128 GB)  Apple
4                545  APPLE iPhone 12 Pro (Pacific Blue, 512 GB)  Apple

In [ ]:
Star Rating

### Highest Star Rating

In [77]:
df[["Star Rating","Product Name","Upc"]].sort_values(ascending=False,by="Star Rating",ignore_index=True)[:10]

,Star Rating,Product Name,Upc
0,4.7,"APPLE iPhone 11 Pro Max (Midnight Green, 64 GB)",MOBFKCTSRYPAQNYT
1,4.7,"APPLE iPhone 11 Pro Max (Space Grey, 64 GB)",MOBFKCTSKDMKCGQS
2,4.7,"APPLE iPhone 11 Pro Max (Midnight Green, 256 GB)",MOBFKCTSCAAKGQV7
3,4.7,"APPLE iPhone 11 Pro Max (Gold, 64 GB)",MOBFKCTSAPAYNSGG
4,4.7,"APPLE iPhone 11 Pro Max (Gold, 256 GB)",MOBFKCTS7HCHSPFH
5,4.6,"APPLE iPhone 8 Plus (Gold, 64 GB)",MOBEXRGV7EHHTGUH
6,4.6,"APPLE iPhone 12 (White, 128 GB)",MOBFWBYZBTZFGJF9
7,4.6,"APPLE iPhone 12 Pro Max (Graphite, 128 GB)",MOBFWBYZFDGQSDWS
8,4.6,"APPLE iPhone 12 (Black, 128 GB)",MOBFWBYZK3HACR72
9,4.6,"APPLE iPhone 12 (Blue, 128 GB)",MOBFWBYZKPTZF9VG

### Least Star Rating

In [83]:
df[["Star Rating","Product Name","Upc"]].sort_values(ascending=True,by="Star Rating",ignore_index=True)[:10]

,Star Rating,Product Name,Upc
0,4.5,"APPLE iPhone 12 Pro (Graphite, 128 GB)",MOBFWBYZBZ7Y56WD
1,4.5,"APPLE iPhone 12 Mini (Red, 64 GB)",MOBFWBYZNVWGWN2U
2,4.5,"APPLE iPhone 12 Mini (White, 64 GB)",MOBFWBYZBH4CEC4C
3,4.5,"APPLE iPhone 12 Pro (Graphite, 256 GB)",MOBFWBYZBA36UB7G
4,4.5,"APPLE iPhone 12 Mini (White, 128 GB)",MOBFWBYZAGXJRDGB
5,4.5,"APPLE iPhone 12 Pro (Silver, 512 GB)",MOBFWBYZ5UY6ZBVA
6,4.5,"Apple iPhone SE (White, 256 GB) (Includes EarP...",MOBFRFXHPZCHAPEH
7,4.5,"APPLE iPhone 12 Pro (Pacific Blue, 512 GB)",MOBFWBYZTHSXKMGW
8,4.5,"APPLE iPhone 12 Mini (Black, 64 GB)",MOBFWBYZXSEGBS6F
9,4.5,"APPLE iPhone 12 Mini (Black, 128 GB)",MOBFWBYZH2AMPNPD

### The Higest Rating

In [92]:
df["Number Of Ratings"].max()

95909

### Higest Sale Price

In [97]:
df[["Sale Price","Product Name","Number Of Reviews"]].sort_values(ascending=False,by="Sale Price",ignore_index=True)[:10]

,Sale Price,Product Name,Number Of Reviews
0,140900,"APPLE iPhone 12 Pro (Pacific Blue, 512 GB)",42
1,140900,"APPLE iPhone 12 Pro (Silver, 512 GB)",42
2,131900,"APPLE iPhone 11 Pro Max (Midnight Green, 256 GB)",101
3,131900,"APPLE iPhone 11 Pro Max (Gold, 256 GB)",101
4,130900,"APPLE iPhone 12 Pro Max (Graphite, 256 GB)",45
5,130900,"APPLE iPhone 12 Pro Max (Pacific Blue, 256 GB)",45
6,130900,"APPLE iPhone 12 Pro Max (Silver, 256 GB)",45
7,130900,"APPLE iPhone 12 Pro Max (Gold, 256 GB)",45
8,120900,"APPLE iPhone 12 Pro (Graphite, 256 GB)",42
9,120900,"APPLE iPhone 12 Pro Max (Graphite, 128 GB)",45

### Least Sale Price

In [99]:
df[["Sale Price","Product Name","Number Of Reviews"]].sort_values(ascending=True,by="Sale Price",ignore_index=True)[:10]

,Sale Price,Product Name,Number Of Reviews
0,29999,"APPLE iPhone SE (Black, 64 GB)",8161
1,29999,"APPLE iPhone SE (White, 64 GB)",8154
2,34999,"APPLE iPhone SE (Red, 128 GB)",8161
3,34999,"APPLE iPhone SE (White, 128 GB)",8154
4,34999,"APPLE iPhone SE (Black, 128 GB)",8161
5,39999,"Apple iPhone XR (Black, 64 GB) (Includes EarPo...",6796
6,41999,"Apple iPhone XR ((PRODUCT)RED, 128 GB) (Includ...",6796
7,41999,"Apple iPhone XR (Coral, 128 GB) (Includes EarP...",6804
8,41999,"Apple iPhone XR (Black, 128 GB) (Includes EarP...",6796
9,41999,"Apple iPhone XR (White, 128 GB) (Includes EarP...",6796

###  Higest Discount Percentage

In [104]:
df[["Discount Percentage","Product Name","Number Of Reviews"]].sort_values(ascending=False,by="Discount Percentage",ignore_index=True)[:10]

,Discount Percentage,Product Name,Number Of Reviews
0,29,"APPLE iPhone 11 Pro (Midnight Green, 64 GB)",523
1,24,"APPLE iPhone SE (White, 64 GB)",8154
2,24,"APPLE iPhone SE (Black, 64 GB)",8161
3,22,"APPLE iPhone SE (Red, 128 GB)",8161
4,22,"APPLE iPhone SE (White, 128 GB)",8154
5,22,"APPLE iPhone SE (Black, 128 GB)",8161
6,20,"Apple iPhone XR ((PRODUCT)RED, 128 GB) (Includ...",6796
7,20,"Apple iPhone XR (Coral, 128 GB) (Includes EarP...",6804
8,20,"Apple iPhone XR (Black, 128 GB) (Includes EarP...",6796
9,20,"Apple iPhone XR (White, 128 GB) (Includes EarP...",6796

### Least Discount Percentage

In [105]:
df[["Discount Percentage","Product Name","Number Of Reviews"]].sort_values(ascending=True,by="Discount Percentage",ignore_index=True)[:10]

,Discount Percentage,Product Name,Number Of Reviews
0,0,"APPLE iPhone 8 Plus (Gold, 64 GB)",356
1,0,"APPLE iPhone 11 Pro Max (Gold, 64 GB)",101
2,0,"APPLE iPhone 11 Pro Max (Gold, 256 GB)",101
3,0,"APPLE iPhone 11 Pro Max (Midnight Green, 64 GB)",101
4,0,"APPLE iPhone 11 Pro Max (Midnight Green, 256 GB)",101
5,0,"APPLE iPhone 8 (Space Grey, 256 GB)",794
6,0,"APPLE iPhone XS Max (Silver, 64 GB)",149
7,0,"APPLE iPhone 8 Plus (Silver, 64 GB)",356
8,0,"APPLE iPhone 8 (Gold, 256 GB)",794
9,0,"APPLE iPhone 8 (Silver, 256 GB)",794